h1{
    color:rgb(243, 6, 65)
    ;
}

h2{
    color:rgb(241, 139, 5);
}

button{
    background-color: black;color: white;
}
body{
    text-align: center;
    background-color:rgb(70, 201, 91);
}
.list{
    list-style-position: inside;
    list-style-type:disclosure-closed;
}

#boton_inicio{
    text-align: left;
}
